<div class='row eachColumn littleMargin'>
    <div class='md-col-12 marginAuto bbcData' id='bbcData'>
    </div>
</div>
{{#each data}}
{{#ifEquals "bbc" id}}
<script>
    getBBCData("bbc-news","{{textInfo}}");
    function getBBCData(source,topic) {
        $.ajax("/news", {
            type: "POST",
            data: { topic: topic,source: source }
        }).then(
            function (res) {
                var strBBC = `<div class="card">
                        <div class="card-header">
                            <h2>BBC News</h2>
                        </div>
                      <div class="card-body">`;
                for (let i = 0; i < res.news.length; i++) {
                    strBBC += `<b>${res.news[i].title}</b><br>${res.news[i].description} <br> <a target="_blank" href="${res.news[i].url}">${res.news[i].url}</a><br> <hr>`;
                }
                strBBC += `</div>
                      </div>`;
                $(".bbcData").append(strBBC);
            }
        ).catch((error)=>{
            console.log(error);
        });
    }
</script>
{{/ifEquals}}
{{/each}}