<div class='row'>
    <div class='md-col-12 marginAuto'>
        <img style="width:100%;height:100%;" id="giphy" src="" alt="Random Giphy">
    </div>
</div>

<script>
    getGiphyData();
    function getGiphyData() {
        $.ajax("/giphy", {
            type: "GET"
        }).then(
            function (res) {
                $("#giphy").attr('src', res.giphy);
            }
        );
    }
</script>