<div class='row'>
    <div class='md-col-12 marginAuto' id="solar_chart_div">
      
      
    </div>
</div>

<script>

    var gsolarData;

    getSolarData();


    function getSolarData() {
        $.ajax("/solar", {
            type: "GET"
        }).then(
            function (res) {
                gsolarData = res.solar;

                google.charts.load('current', {'packages':['corechart']});

                console.log(`res.solar = ${JSON.stringify(res.solar)}`);     
                
                google.charts.setOnLoadCallback(drawChart);
            }
        );
    }


    function drawChart() {
        // Find the max day
        /*
        var maxDay = 0;  var maxPower = 0;
        for (let i=0; i<gsolarData.length; i++) {
          if (gsolarData[i].power >= maxPower) {
            maxPower = gsolarData[i].power;
            maxDay = i;
          }
        }
        */
        var tdata = new google.visualization.DataTable();

        console.log(`############ IN DRAWCHART ###########`);

        
        /* var tempData = [];
        var color = '#A9635E';
        tempData.push( [ "Date", "Power",  {role: 'style' } ] );

        for (var i = 0; i < gsolarData.length; i++) {
            color = 'blue';
            tempData.push([gsolarData[i].date, gsolarData[i].powerGenerated, color])
        }
        */
        
        console.log(`solarData = ${JSON.stringify(gsolarData)}`);

    //var data = google.visualization.arrayToDataTable(tempData); --}}

    var data = [];

    tdata.addColumn('string', 'Date');
    tdata.addColumn('number', 'Power');
    // tdata.addColumn('role', 'style')

    // sample data: var data = [{ Date: "20140124", Visitors: "873" }, { Date: "20140125", Visitors: "875" }];
    for (var i = 0; i < gsolarData.length; i++) {
        
        // tdata.addRow([new Date(gsolarData[i].date), parseInt(gsolarData[i].powerGenerated)]);
        tdata.addRow([gsolarData[i].date, parseInt(gsolarData[i].power)]);
    
    }
       
        console.log("googleized tdata = " + JSON.stringify(tdata));

        // Set chart options
        var options = {'title':"",
                       'width':230,
                       'height':100,
                       animation : { startup : true },
                       hAxis : {format:'d',
                                showTextEvery : 3},
                       vAxis : {format : 'short',
                                title : "kWh"},
                        legend : {position : "none"},
                        chartArea:{width:'80%', height:'94%'},
                        vAxis:{maxValue:100000},
                        // Color of the box outline.
                        stroke: '#888',
                        // Thickness of the box outline.
                        strokeWidth: 1,
                        // x-radius of the corner curvature.
                        rx: 10,
                        // y-radius of the corner curvature.
                        ry: 10,
                        // Attributes for linear gradient fill.
                        gradient: {
                          // Start color for gradient.
                          color1: '#fbf6a7',
                          // Finish color for gradient.
                          color2: '#33b679',
                          // Where on the boundary to start and
                          // end the color1/color2 gradient,
                          // relative to the upper left corner
                          // of the boundary.
                          x1: '0%', y1: '0%',
                          x2: '100%', y2: '100%',
                          // If true, the boundary for x1,
                          // y1, x2, and y2 is the box. If
                          // false, it's the entire chart.
                          useObjectBoundingBoxUnits: true
                        }
                      }

        // Instantiate and draw our chart, passing in some options.
       // var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        var chart = new google.visualization.ColumnChart(document.getElementById('solar_chart_div'));
        
       // console.log(`chart = ${JSON.stringify(chart)}`);
        
        chart.draw(tdata, options);

        console.log(`chart was drawn`);
    }


</script>