<div class='row littleMargin'>
  <div class='md-col-12 marginAuto weather' id="weather">
  </div>
</div>

<script>
  var lat, long;
  function getLatLong(callback) {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function (position) {
        lat = position.coords.latitude;
        long = position.coords.longitude;
        callback(lat, long);
      });
    } else {
      alert("Geolocation is not supported by this browser.");
      callback(lat, long);
    }
    getLatLong(getWeatherData);
    function getWeatherData(lat, long) {
        if (!lat) lat = 32.8531813;
        if (!long) long = -117.1826385;
        $.ajax("/weather", {
            type: "POST",
            data: { lat: lat, long: long }
        }).then(
            function (res) {
                $("#weather").append(`<div class="weatherCard card">
                            <div class='card-header'>
                          <h3><span><img
                                src="/images/weather/${res.weather.icon}.png"></span>${res.weather.summary}
                          </h3>
                          </div>
                          <div class='card-body'>
                            <div class="row">
                              <div class='weatherText col-sm-5'>Description</div>
                              <div class='weatherText col-sm-7'>${res.weather.summaryHourly}</div>
                            </div>
                            <hr>
                            <div class='row'>
                              <div class='weatherText col-sm-5'>Temperature</div>
                              <div class='weatherText col-sm-7'>${res.weather.tempMax}F</div>
                            </div>
                            <hr>
                            <div class='row'>
                              <div class='weatherText col-sm-5'>Humidity</div>
                              <div class='weatherText col-sm-7'>${res.weather.humidity}%</div>
                            </div>
                            <hr>
                            <div class='row'>
                              <div class='weatherText col-sm-5'>Wind Speed</div>
                              <div class='weatherText col-sm-7'>${res.weather.windSpeed} mph</div>
                            </div>
                          </div>
                        </div>`);
      });
  }
</script>