<div class='row webcamImage eachColumn littleMargin'>
    <div class='md-col-12 marginAuto height100'>
        <div class="card height100">
            <div class="card-body webcamData" id='webcamData'>
            </div>
        </div>
    </div>
</div>
{{#each data}}
{{#ifEquals "webcam" id}}
<script>
    getStaticLinksData("{{ textInfo }}");
    function getStaticLinksData(webcam) {
        $.ajax({
            type: "GET",
            url: "https://cors-anywhere.herokuapp.com/" + webcam,
            async: false,
            success: function (text) {
                let str = `<img class="webcamImage" src="${webcam}" alt="Image">`;
                $(".webcamData").append(str);
            },
            error: function () {
                let str = `Invalid Webcam URL: ${webcam}<br> <hr>`;
                $(".webcamData").append(str);
            }
        });
    }
</script>
{{/ifEquals}}
{{/each}}