  <script src="/js/box-layout.js"></script>

<div id="box-layout-controls" class="row">
    <button id="add-row-button" class="btn btn-primary">Add Row</button>
    <button id="submit-layout-button" class="btn btn-primary">Submit Layout</button>

</div>

<div id="box-container">

</div>