<div class="row">
  <div class="col-md-12">
    <h1>Customize your Dashboard {{user.email}}!</h1>
  </div>
</div>

{{!-- News Feeds --}}
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="cnn">
  <label class="form-check-label" for="cnn">
    CNN
  </label>
</div>

{{!-- Personal Info --}}
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="weather" >
  <label class="form-check-label" for="weather">
    Weather
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="to-do" >
  <label class="form-check-label" for="to-do">
    To-do list
  </label>
</div>

{{!-- Fun --}}
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="reddit" >
  <label class="form-check-label" for="reddit">
    Reddit
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="giphy">
  <label class="form-check-label" for="giphy">
    Giphy
  </label>
</div>

{{!-- IOT --}}
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="live-stream">
  <label class="form-check-label" for="live-stream">
    Live Stream - San Diego Zoo Pandas
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="user-iot" >
  <label class="form-check-label" for="user-iot">
    Connect your own devices
  </label>
</div>

{{!-- Submit Button --}}
<button class="btn btn-primary" id="save-btn">Save Selections</button>

<script>
    $("#save-btn").on("click", (e) => {
        e.preventDefault();
        console.log("clicked save btn");
        // capture what has been clicked on 
        // send name of buttons that are checked to true as an object
        
        let settingsArr = [];        

        // loop through the form, and see if each option is selected 
        $('input[type=checkbox').each(function () {
            if (this.checked) {
                console.log(this)
                settingsArr.push(this.id);
            }
        });
        console.log(settingsArr);
        $.ajax({
            url: "/api/settings",
            method: "POST",
            data: {
              data: JSON.stringify(settingsArr)
            }
        }).then(res => {
            console.log(res);
        })
        
    })
    </script>