<div class="row">
  <div class="col-md-12">
    <h2>Customize your Dashboard {{user.email}}!</h2>
  </div>
</div>

{{!-- News Feeds --}}
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="cnn">
  <label class="form-check-label" for="cnn">
    CNN
  </label>
</div>

{{!-- NYT --}}
<div class="form-check">
  <input class="form-check-input" type="checkbox"  data-associatedtextbox="nyt-input" value="" id="nyt">
  <label class="form-check-label" for="cnn">
    New York Times
  </label>
</div>
{{!-- TEXT BOX FOR NYT --}}
<div id="nyt-text-form" class="form-group hidden">
  <label for="nyt-keyword">News Topic</label>
  <input type="email" class="form-control" id="nyt-input" placeholder="Keyword for news search">
</div>
{{!-- Personal Info --}}
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="weather">
  <label class="form-check-label" for="weather">
    Weather
  </label>
</div>


{{!-- Fun --}}
<div class="form-check">
  <input class="form-check-input" type="checkbox" data-associatedtextbox="spotify-input" value="" id="spotify">
  <label class="form-check-label" for="spotify">
    Spotify
  </label>
</div>

{{!-- INPUT BOX FOR SPOTIFY --}}
<div id="spotify-text-form" class="form-group hidden">
  <label for="spotify-song">Song to Include</label>
  <input type="text" class="form-control" id="spotify-input" placeholder="Song title, artist">
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="giphy">
  <label class="form-check-label" for="giphy">
    Giphy
  </label>
</div>

{{!-- FUTURE DEVELOPMENT --}}

{{!-- <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="live-stream">
  <label class="form-check-label" for="live-stream">
    Live Stream - San Diego Zoo Pandas
  </label>
</div> --}}
{{!-- <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="user-iot" >
  <label class="form-check-label" for="user-iot">
    Connect your own devices
  </label>
</div> --}}
{{!-- <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="to-do">
  <label class="form-check-label" for="to-do">
    To-do list
  </label>
</div> --}}

{{!-- Submit Button --}}
<button class="btn btn-primary" id="save-btn">Save Selections</button>

<script>
  const nytimesBtn = document.getElementById('nyt');
  const nytTextForm = document.getElementById('nyt-text-form');
  const spotifyBtn = document.getElementById('spotify');
  const spotifyTextForm = document.getElementById('spotify-text-form');

  nytimesBtn.addEventListener('change', (e) => {
    if (nytTextForm.classList.contains('hidden')) {
      nytTextForm.classList.remove('hidden')
    } else {
      nytTextForm.classList.add('hidden')
    }


  });

  spotifyBtn.addEventListener('change', (e) => {
    if (spotifyTextForm.classList.contains('hidden')) {
      spotifyTextForm.classList.remove('hidden');
    } else {
      spotifyTextForm.classList.add('hidden');
    }

  });

  $("#save-btn").on("click", (e) => {
    e.preventDefault();
    // capture what has been clicked on 
    // send name of buttons that are checked to true as an object

    let settingsArr = [];

    // loop through the form, and see if each option is selected 
    $('input[type=checkbox').each(function () {
      if (this.checked) {
        console.log(this)
        let settingsObj = {
          id: this.id
        }
        console.log($(this).data("associatedtextbox"));
        if($(this).data("associatedtextbox")) {
          console.log()
          settingsObj.textInfo = $(`#${$(this).data("associatedtextbox")}`).val();
        }
        settingsArr.push(settingsObj);
      }
    });
    console.log(settingsArr);

    // POST our data to 
    $.ajax({
      url: "/api/settings",
      method: "POST",
      data: {
        data: JSON.stringify(settingsArr)
      }
    }).then(res => {
      // console.log(res);
      window.location.href = "/box-layout";
    })

  });


</script>