{{!-- <div class="row main">
    <div class="col-md-12 text-center">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Welcome to Dasher</h1>
                <p class="lead">
                    The Dashboard that's uniquely you. 
                </p>
            </div>
        </div>
    </div>
</div> --}}

<div class="row main">
    <div class="col-md-12">
        <h1>Welcome to Dasher</h1>
        <h2>The dashboard that's unique to you</h2>
    </div>
</div>