body {
  background-image: url("../images/backgroundImg.jpg");
  background-size: 100%;
}

.list-group-item {
  line-height: 2.5;
}

#box-layout-controls {
  margin-top: 5px;
  margin-bottom: 5px;
}

.content-col {
  border: solid 1px red;
  min-height: 200px;
  padding: 0px;
}

.box-control-btn {
  display: block;
}

.hidden {
  display: none;
}

.eachRow {
  height: 350px;
  margin-bottom: 20px;
}

.marginAuto {
  margin: auto;
  /* margin-top: 20px; */
  width: 100%;
}

.eachColumn {
  height: 350px;
  overflow: auto;
  background-color: rgba(255, 255, 255, .5)
}

.littleMargin {
  margin: 1px;
}

.solarDiv {
  width: calc(100% - 30px);
}

.height100 {
  height: 100%;
}

.navbar-nav {
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}

/* START - Media Queries */
@media screen and (max-width: 770px) {
  .eachRow {
    height: 500px;
  }
}
/* END - Media Queries */