.list-group-item {
  line-height: 2.5;
}

#box-layout-controls {
  margin-top: 5px;
  margin-bottom: 5px;
}

.content-col {
  border: solid 1px red;
  min-height: 200px;
  padding: 0px;
}

.box-control-btn {
  display: block;
}

.hidden {
  display: none;
}

.eachRow {
  height: 300px;
  overflow: auto;
}

.marginAuto {
  margin: auto;
  margin-top: 20px;
}

/* START - Media Queries */
@media screen and (max-width: 770px) {
  .eachRow {
    height: 500px;
  }
}
/* END - Media Queries */